.perfil{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navegue{
    display: flex;
    align-items: center;
}

.perfil img{
    margin: 40px;
    max-width: 23vw;
    align-items: center;
}

.perfil .name-dev{
    max-width: 35vw;
    margin-right: 80px;
}

.bloco-habilidades{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-height: 240px;
    max-width: 240px;
    border-radius: 1rem;
    padding: 15px;
    justify-content: center;
}

.nivel{
    font-size: 15px;
    padding: 4px;
}

.progress-bar{
    height: 20px;
    width: 150px;
    padding: 5px;
    /* background-color: #E4E9F7; */
    background-color: #18191a;
    display: flex;
    border-radius: 7px;
  }
  
.progress-bar::before{
    content: "";
    width: 55px;
    /* background-color: #707070; */
    background-color: #ccc;
    border-radius: 6px;
}

.habilidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro img{

    max-width: 40vw;
    border-radius: 16px;
    border: none;
    margin: 0px;
    margin-top: 40px;
}


.text, .home{
    width: 100%;
}

.blocosproj{
    text-decoration: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 240px;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
}

.projeto h5{
    font-size: 1rem;
    padding: 0px;
}

.projeto{
    text-decoration: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 240px;
    max-width: 340px;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
}

.fundo-bloco{
    /* background-color: #707070; */
    background-color: #5046c2;
}

.texto-img{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 975px) {
    .perfil img{
        max-width: 35vw;
        margin: 10px 10px 10px 40px;
    }

    .perfil .name-dev{
        max-width: 40vw;
        margin: 10px 10px 10px 10px;
    }

    p{
        font-size: 16px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 2rem;
        margin-right: 20px;
        margin-right: 60px;
        margin-top: 30px;
    }
    h4{
        font-size: 1.6rem;
    }
    
    .text{
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navegue{
        display: flex;
        align-items:initial;
    }
}

@media screen and (max-width: 615px) {
    .perfil{
        flex-direction: column;
    }

    .intro img{
        background-color: white;
        max-width: 20vw;
        border-radius: 16px;
        border: none;
        margin: 0px;
        margin-top: 40px;
    }

    .texto-img{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .perfil img{
        max-width: 55vw;
        margin: 10px 10px 10px 40px;
    }

    .perfil .name-dev{
        max-width: 60vw;
        margin: 10px 10px 10px 10px;
    }
}



