.perfil{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navegue{
    display: flex;
    
    align-items: center;
}

.perfil img{
    margin: 40px;
    border-radius: 9rem;
    border: 4px solid #707070;
    max-width: 240px;
    align-items: center;
}

.bloco-habilidades{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-height: 240px;
    max-width: 240px;
    border-radius: 1rem;
    padding: 15px;
    justify-content: center;
}

.nivel{
    font-size: 15px;
    padding: 4px;
}

.progress-bar{
    height: 20px;
    width: 150px;
    padding: 5px;
    background-color: #E4E9F7;
    display: flex;
    border-radius: 7px;
  }
  
.progress-bar::before{
    content: "";
    width: 100px;
    background-color: #707070;
    border-radius: 6px;
}

.habilidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro img{
    background-color: white;
    max-width: 400px;
    border-radius: 16px;
    border: none;
    margin: 0px;
}

.text, .home{
    width: 100%;
}

.blocosproj{
    text-decoration: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 240px;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
}

.projeto h5{
    font-size: 1rem;
    padding: 0px;
}

.projeto{
    text-decoration: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 240px;
    max-width: 340px;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
}

.fundo-bloco{
    background-color: #707070;
}

@media screen and (max-width: 615px) {
    .perfil img{
        max-width: 130px;
        margin: 10px 10px 10px 40px;
    }

    p{
        font-size: 16px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 18px;
        margin-right: 20px;
    }
    h4{
        font-size: 14px;
    }
    
    .text{
        margin: 0px;
        padding: 0px;
    }
}
